body {
  font-family: Futura, Helvetica, 'Gill Sans', sans-serif;
  color: rgb(43, 41, 41)
}

header {
  padding: 0 0 20px 10px;
  background-color: #1d20ea;
  background-image: linear-gradient(to right, #1d20ea, #5704ff);
  margin-bottom: 10px;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  color: white;
  /* text-shadow: 4px 4px 4px #011a0f; */
  margin-bottom: 15px;
}

h2 {
  border-bottom: 2px;
  margin-top: 0px;
}

nav {
  font-size: 1.2em; 
}

nav>a {
  margin-right: 15px;
}

nav>a:link,
a:visited,
a:focus {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  padding: 2px;
  border-radius: 2px;
}

nav>a:hover {
  background:white;
  color:#34356D;
  border: solid 1px white;
  border-radius: 2px;
  padding: 2px;
}

body>section {
  border: none;
}

section {
  padding: 10px;
  max-width: 1100px;
  a:link, a:focus, a:visited {
    color:#046f24;
  }
  a:hover {
    color:#315dee
  }
}

/* a:link, a:hover, a:focus, a:visited {
  color:#34356D;
} */
.caption {
  font-style: italic;
  color:#34356D;
  font-size: .7em;
}


.wow_photo>img {
  width: 400px;
}

.left {
  display: inline-block;
  max-width: 500px;
  border: 2px solid #1d20ea;
  border-radius: 10px;
  margin-right: 20px;
}

.right {
  display: inline-block;
  vertical-align: top;
  max-width: 500px;
}



article {
  border-bottom: thin solid #1d20ea;
}

.quote {
  font-size: 1.4em;
  font-style: italic;
  color: #1d20ea;
}

li {
  margin-bottom: .5em;
}

#photo {
  list-style: none;
}

.tech {
  font-style: italic;
}

.screenshot {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: none;
}

.screenshot>img {
  max-width:500px;
  border: 2px solid #1d20ea;
  border-radius: 10px;
  padding: 5px;
}

.portfolio {
  border-bottom: 2px dotted #1d20ea; ;
}
